<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TOKO SAYURANS</div>
        <hr>       
    <l> Nama Sayuran : </l><l th:text="${nama}"></l><br><br>
    <l> Harga Perkilo: </l><l th:text="${harga}"></l><br><br>
    <l> Jumlah Beli : </l><l th:text="${Jmlbeli}"></l><br><br>
    <l> Jumlah Bayar : </l><l th:text="${Jmlbayar}"></l><br><br>
    <l> Diskon : </l><l th:text="${disk}"></l><br><br>
    <l> Total Bayar : </l><l th:text="${total}"></l><br><br>
    <l> Uang Pelanggan : </l><l th:text="${uang}"></l><br><br>   
    <l> Pesan : </l><l th:text="${pesan}"></l><br><br>
    </body>
</html>
